*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/androidlab/fotografando/MainActivity.java
app/src/main/res/values-it/strings.xml
